<div class="page_article max-w-4xl mx-auto">
    <div class="text-xl font-medium mb-8">{{ content.field_description }}</div>
    <div class="w-full h-auto mb-4">{{ content.field_image }}</div>
    <div class="px-32">
        <div class="body">{{ content.body }}</div>
        <div class="sujets">{{ content.field_sujets }}</div>
        <div class="comment">{{ content.comment }}</div>
    </div>
</div>